<template>
    <div>
        <div v-show="!productDetails.show">
            <div style="display:flex;justify-content:space-between;margin-bottom:1rem;">
                <div>
                    <el-select v-model="productTable.paging.pageSize" placeholder="Select page size">
                        <el-option
                            v-for="item in productTable.paging.pageSizeOptions"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                        </el-option>
                    </el-select>
                </div>
                <div style="display:flex;">
                    <el-button style="margin-left:1rem;" @click="load()">
                        <i class="el-icon-refresh"></i>
                    </el-button>
                    <el-button style="margin-left:1rem;" @click="showCreateDialog()">
                        <i class="el-icon-plus"></i>
                    </el-button>
                </div>
            </div>
            <el-input
                placeholder="Search for SKUs"
                spellcheck="false"
                v-model="searchString"
                clearable
            ></el-input>
            <el-table
                v-loading="productTable.loading"
                :data="filteredTableData"
                empty-text="No products available."
                style="margin-top:1rem;width:100%"
            >
                <el-table-column prop="sku" label="SKU"> </el-table-column>
                <el-table-column label="Iframe URL">
                    <template slot-scope="props">
                        <a :href="props.row.iframeURL" target="_blank">{{
                            props.row.iframeURL
                        }}</a>
                    </template>
                </el-table-column>
                <el-table-column prop="createdAt" label="Created at" width="250">
                </el-table-column>
                <el-table-column align="right" width="100">
                    <template slot-scope="props">
                        <el-button @click="showProductDetails(props.row._id)">
                            Edit
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>
            <div style="display:flex;justify-content:space-between;margin-top:1rem;">
                <div style="display:flex;flex-direction:column;justify-content:center;">
                    <span style="font-size:.8rem;color:#606266;">
                        <span style="display:inline-block;width:8rem;">Search results:</span>
                        {{ searchStringFilteredTableData.length }} / {{ productTable.data.length }}
                    </span>
                </div>
                <el-pagination
                    background
                    layout="prev, pager, next"
                    :current-page.sync="productTable.paging.page"
                    :page-size.sync="productTable.paging.pageSize"
                    :total="searchStringFilteredTableData.length">
                </el-pagination>
            </div>
        </div>
        <div v-show="productDetails.show">
            <div style="display:flex;justify-content:space-between;">
                <el-button @click="exitProductDetails()">
                    <i class="el-icon-arrow-left"></i>
                </el-button>
                <div style="display:flex;">
                    <el-alert
                        v-show="productDetails.errorMessage"
                        :title="productDetails.errorMessage"
                        show-icon
                        type="error" :closable="false">
                    </el-alert>
                    <div style="display:flex">
                        <el-button type="danger" :disabled="productDetails.loading" style="margin-left:1rem;" @click="productDetailsDeleteProduct()">
                            <i class="el-icon-delete"></i> Delete product
                        </el-button>
                        <el-button :disabled="productDetails.loading" style="margin-left:1rem;" @click="productDetailsRestore()">
                            <i class="el-icon-download"></i> Restore data.json
                        </el-button>
                        <el-button :disabled="productDetails.loading" style="margin-left:1rem;" @click="productDetailsBackup()">
                            <i class="el-icon-upload2"></i> Backup data.json
                        </el-button>
                        <el-button type="primary" @click="saveProductDetails()" :disabled="productDetails.loading" style="margin-left:1rem;">
                            Save changes
                        </el-button>
                    </div>
                </div>
            </div>
            <el-form ref="form" label-width="120px" style="width:100%;margin-top:3rem;display:flex;flex-direction:column;align-items:center;"
                v-loading="productDetails.loading">
                <el-form-item label="SKU" style="width:90%">
                    <el-input v-model="productDetails.data.sku" spellcheck="false"></el-input>
                </el-form-item>
                <el-form-item label="Iframe URL" style="width:90%">
                    <el-input v-model="productDetails.data.iframeURL" spellcheck="false"></el-input>
                </el-form-item>
                <el-form-item label="dataJSON" style="width:90%">
                    <el-input v-model="productDetails.data.data" type="textarea" :autosize="{ minRows: 2}" spellcheck="false" class="monospace"></el-input>
                </el-form-item>
            </el-form>
        </div>
        <div>
            <el-dialog title="Are you sure?" :visible.sync="confirmDialogShow">
                <p>{{ confirmDialogMessage }}</p>
                <span slot="footer" class="dialog-footer">
                    <el-button @click="handleConfirmDialog(false)">Cancel</el-button>
                    <el-button type="primary" @click="handleConfirmDialog(true)">
                        Confirm
                    </el-button>
                </span>
            </el-dialog>
            <el-dialog title="Create new product" :visible.sync="createDialogShow">
                <el-select v-model="createDialog.selectedProductType" placeholder="Select" style="width:100%">
                    <el-option
                        v-for="item in createDialog.options"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                    </el-option>
                </el-select>
                <el-upload
                    class="upload-demo"
                    drag
                    accept=".zip"
                    ref="dropzone"
                    v-if="createDialog.selectedProductType == 'zipped-products'"
                    :auto-upload="false"
                    :on-preview="handleCreateDialogPreview"
                    :on-remove="handleCreateDialogRemove"
                    :on-change="handleCreateDialogChange"
                    :file-list="createDialog.fileList"
                    style="margin-top:1rem;"
                    multiple>
                    <i class="el-icon-upload"></i>
                    <div class="el-upload__text">Drop file here or <em>click to upload</em></div>
                    <div class="el-upload__tip" slot="tip">zip files with a size less than 80MB</div>
                </el-upload>
                <div v-if="createDialog.selectedProductType == 'multi-options-product'">
                    <el-input v-model="createDialog.sku" placeholder="Product SKU" style="margin-top:1rem;"></el-input>
                    <div v-for="(option, idx) in createDialog.multiOptions" :key="idx" style="display:flex;margin-top:1rem;">
                        <div style="flex-grow:1;">
                            <el-input v-model="option.label" placeholder="Label" spellcheck="false"></el-input>
                        </div>
                        <div style="padding-left:1rem;flex-grow:1;">
                            <el-input v-model="option.sku" placeholder="SKU" spellcheck="false"></el-input>
                        </div>
                        <div style="padding-left:1rem;">
                            <el-button @click="removeMultiOption(option)"><i class="el-icon-close"></i></el-button>
                        </div>
                    </div>
                    <el-button @click="addMultiOption()" style="margin-top:1rem;"><i class="el-icon-plus"></i></el-button>
                    <el-button @click="clearMultiOptions()" style="margin-top:1rem;">Clear</el-button>
                </div>
                <span slot="footer" class="dialog-footer">
                    <el-button @click="createDialogShow = false">Cancel</el-button>
                    <el-button type="primary" @click="handleCreateDialogConfirm()">
                        Confirm
                    </el-button>
                </span>
            </el-dialog>
        </div>
    </div>
</template>

<style>
.el-upload {
    /* margin-top: 1rem; */
    width: 100%;
}
.el-upload-dragger {
    /* margin-top: 1rem; */
    width: 100%;
}
.monospace textarea {
    font-family: Roboto Mono !important;
}
.el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: #9ebdbd;
    color: #FFF;
}
.el-pagination.is-background .el-pager li:not(.disabled):hover {
    color: #9ebdbd;
}
</style>

<script>
import axios from 'axios';
import {
    EventEmitter,
    MultiPromise
} from '../core/eventSystem';

const eventEmitter = new EventEmitter();
eventEmitter.register('confirm');

export default {
    mounted() {
        this.load();
    },
    data() {
        return {
            productTable: {
                loading: false,
                data: [],
                searchString: '',
                paging: {
                    page: 1,
                    pageSize: 8,
                    pageSizeOptions: [
                        {
                            label: '8 items per page',
                            value: 8
                        },
                        {
                            label: '16 items per page',
                            value: 16
                        },
                        {
                            label: '30 items per page',
                            value: 30
                        },
                        {
                            label: '100 items per page',
                            value: 100
                        },
                        {
                            label: '200 items per page',
                            value: 200
                        }
                    ]
                }
            },
            searchString: "",
            createDialogShow: false,
            createDialog: {
                fileList: [],
                options: [
                    {
                        label: 'Zipped products',
                        value: 'zipped-products'
                    },
                    {
                        label: 'Multi-options product',
                        value: 'multi-options-product'
                    }
                ],
                selectedProductType: 'zipped-products',
                multiOptions: [],
                sku: ''
            },
            confirmDialogShow: false,
            confirmDialogMessage: '',
            productDetails: {
                show: false,
                loading: false,
                errorMessage: '',
                data: {}
            }
        };
    },
    methods: {
        load(callback) {
            this.productTable.loading = true;
            axios.get("/design-upload-v2/api/products").then(
                (response) => {
                    this.productTable.data = response.data.data.map(product => ({
                        ...product,
                        iframeURL: `https://d1vyizgcxsj7up.cloudfront.net/customize/index.html?product=${product.sku}`
                        // iframeURL: product.iframeURL || `https://d1vyizgcxsj7up.cloudfront.net/customize/index.html?product=${product.sku}`
                    })).reverse();
                    this.productTable.loading = false;
                    callback && callback();
                }
            );
        },
        showCreateDialog() {
            this.createDialogShow = true;
            this.$nextTick(() => {
                this.createDialog.fileList = [];
                this.$refs.dropzone.clearFiles();
            });
        },
        handleCreateDialogPreview() {
        },
        handleCreateDialogChange(file) {
            this.createDialog.fileList.push(file);
        },
        handleCreateDialogRemove(file) {
            const fileIdx = this.createDialog.fileList.indexOf(file);
            if(fileIdx == -1) return;
            this.createDialog.fileList.splice(fileIdx, 1);
        },
        checkSKU(sku) {
            return new Promise(resolve => {
                axios.post(`/design-upload-v2/api/check_sku/${sku}`)
                .then(response => {
                    resolve(response.data.data);
                });
            })
        },
        async handleCreateDialogConfirm() {
            const createProduct = ({sku, data}={}, callback) => {
                axios.post('/design-upload-v2/api/products', {
                    sku,
                    data
                })
                .then(callback)
                .catch(callback);
            };
            if(this.createDialog.selectedProductType == 'zipped-products') {
                this.createDialogShow = false;
                const multiPromise = new MultiPromise;
                for(const [fileIdx, file] of this.createDialog.fileList.entries()) {
                    multiPromise.register(fileIdx);
                }
                this.productTable.loading = true;
                multiPromise.start().then(() => { this.productTable.loading = false; });
                for(const [fileIdx, file] of this.createDialog.fileList.entries()) {
                    const formData = new FormData();
                    formData.append('file', file.raw);
                    const filename = file.name.replace('.zip', '');
                    const upload = (callback) => {
                        axios.post('/design-upload-v2/api/product_upload', formData, {
                            headers: {
                                'Content-Type': 'multipart/form-data'
                            }
                        })
                        .then(response => {
                            this.load(() => {
                                this.syncProductDataJSON(filename);
                            });
                            multiPromise.fulfill(fileIdx);
                            // console.log(response);
                        });
                    };
                    const skuExists = await this.checkSKU(filename);
                    if(skuExists) {
                        this.confirmDialogShow = true;
                        this.confirmDialogMessage = `Product '${filename}' is already created. Do you want to overwrite it?`;
                        eventEmitter.one('confirm', v => {
                            if(v) {
                                upload();
                            }
                        });
                    }
                    else {
                        createProduct({sku: filename}, () => {
                            upload();
                        });
                    }
                }
            }
            else {
                this.createDialogShow = false;
                createProduct({
                    sku: this.createDialog.sku,
                    data: {
                        options: this.createDialog.multiOptions.map(option => ({ title: option.label, slug: option.sku }))
                    },
                }, () => this.load());
            }
        },
        handleConfirmDialog(v) {
            this.confirmDialogShow = false;
            eventEmitter.emit('confirm', v);
        },
        addMultiOption() {
            this.createDialog.multiOptions.push({
                id: this.createDialog.multiOptions.length,
                label: '',
                sku: ''
            });
        },
        clearMultiOptions() {
            this.createDialog.multiOptions = [];
        },
        removeMultiOption(option) {
            const optionIdx = this.createDialog.multiOptions.indexOf(option);
            if(optionIdx == -1) return;
            this.createDialog.multiOptions.splice(optionIdx, 1);
        },
        showProductDetails(productID, callback) {
            this.productTable.loading = true;
            axios.get(`/design-upload-v2/api/products/${productID}`)
                .then(response => {
                    this.productTable.loading = false;
                    const product = response.data.data;
                    this.productDetails.data = {
                        ...product,
                        iframeURL: `https://d1vyizgcxsj7up.cloudfront.net/customize/index.html?product=${product.sku}`
                        // iframeURL: product.iframeURL || `https://d1vyizgcxsj7up.cloudfront.net/customize/index.html?product=${product.sku}`
                    };
                    Vue.set(this.productDetails.data, 'data', JSON.stringify(response.data.data.data || {}, undefined, 2));
                    this.productDetails.show = true;
                    this.productDetails.loading = false;
                    this.productDetails.errorMessage = '';
                    callback && callback();
                })
                .catch(err => {
                    this.productTable.loading = false;
                    console.error(err);
                    callback && callback();
                });
        },
        exitProductDetails() {
            this.productDetails.show = false;
            this.productDetails.loading = false;
            this.productDetails.errorMessage = '';
            this.load();
        },
        saveProductDetails() {
            this.productDetails.loading = true;
            this.productDetails.errorMessage = '';
            const dataJSON = this.productDetails.data.data || '{}';
            try {
                JSON.parse(dataJSON);
            }
            catch(e) {
                this.productDetails.errorMessage = 'dataJSON: ' + e.message;
                this.productDetails.loading = false;
                return;
            }
            axios.put(`/design-upload-v2/api/products/${this.productDetails.data._id}`, {
                sku: this.productDetails.data.sku,
                iframeURL: this.productDetails.data.iframeURL,
                data: JSON.parse(this.productDetails.data.data),
            })
            .then(response => {
                this.productDetails.loading = false;
            })
            .catch(err => {
                this.productDetails.loading = false;
                console.error(err);
            });
        },
        productDetailsRestore() {
            this.confirmDialogShow = true;
            eventEmitter.one('confirm', confirmed => {
                if(!confirmed) return;
                this.productDetails.loading = true;
                this.syncProductDataJSON(this.productDetails.data.sku, () => {
                    this.showProductDetails(this.productDetails.data._id, () => {
                        this.productDetails.loading = false;
                    })
                });
            });
        },
        productDetailsBackup() {
            this.confirmDialogShow = true;
            eventEmitter.one('confirm', confirmed => {
                if(!confirmed) return;
                this.productDetails.loading = true;
                axios.post(`/design-upload-v2/api/data_json_backup/${this.productDetails.data.sku}`)
                .then(response => {
                    this.showProductDetails(this.productDetails.data._id, () => {
                        this.productDetails.loading = false;
                    });
                })
                .catch(err => {
                    this.productDetails.errorMessage = err.message;
                });
            });
        },
        productDetailsDeleteProduct() {
            const product = this.productDetails.data;
            this.confirmDialogShow = true;
            eventEmitter.one('confirm', confirmed => {
                if(!confirmed) return;
                this.productDetails.loading = true;
                axios.delete(`/design-upload-v2/api/products/${product._id}`)
                .then(response => {
                    this.productDetails.show = false;
                    this.productDetails.loading = false;
                    this.load();
                })
                .catch(err => {
                    this.productDetails.loading = false;
                    this.productDetails.errorMessage = err.message;
                });
            });
        },
        syncProductDataJSON(sku, callback) {
            this.productTable.loading = true;
            axios.post(`/design-upload-v2/api/data_json_sync/${sku}`)
                .then(response => {
                    this.productTable.loading = false;
                    callback && callback(response);
                })
                .catch(err => {
                    this.productTable.loading = false;
                    callback && callback(err);
                });
        }
    },
    computed: {
        searchStringFilteredTableData() {
            return this.productTable.data.filter(
                (row, idx) => {
                    const searchStrCond = row.sku.includes(this.searchString) ||
                        row.iframeURL.includes(this.searchString);
                    return searchStrCond;
                }
            );
        },
        filteredTableData() {
            return this.searchStringFilteredTableData.filter(
                (row, idx) => {
                    const pagingCond = Math.floor(idx / this.productTable.paging.pageSize) + 1 == this.productTable.paging.page;
                    return pagingCond;
                }
            );
        }
    },
};
</script>
