<template>
    <div v-loading="loading">
        <p>In development.</p>
    </div>
</template>

<style>
</style>

<script>
import axios from 'axios';
import {
    EventEmitter,
    MultiPromise
} from '../core/eventSystem';

export default {
    mounted() {
    },
    data() {
        return {
            loading: false
        };
    },
    methods: {
    },
    computed: {
    },
};
</script>
