<template>
    <div v-loading="loading">
        <div style="display:flex;justify-content:flex-end;margin-bottom:1rem;">
            <el-button style="margin-left:1rem;" @click="loadTableData()">
                <i class="el-icon-refresh"></i>
            </el-button>
            <el-button style="margin-left:1rem;" @click="showCreateDialog()">
                <i class="el-icon-plus"></i>
            </el-button>
        </div>
        <el-input
            placeholder="Search for resources"
            v-model="resourceTable.searchString"
            spellcheck="false"
            clearable
        ></el-input>
        <el-table
            v-loading="resourceTable.loading"
            :data="filteredTableData"
            empty-text="No resources available."
            style="margin-top:1rem;width:100%"
            @expand-change="loadExpanded"
        >
            <el-table-column type="expand">
                <template slot-scope="props">
                    <div v-for="(file, fileIdx) in props.row.files" :key="fileIdx" class="resource-file">
                        <div style="display:flex;align-items:center;">
                            <i v-if="getFileIcon(file.ext) != 'file-image'" :class="'fas fa-' + getFileIcon(file.ext)" style="font-size:2rem;"></i>
                            <img v-if="getFileIcon(file.ext) == 'file-image'" :src="file.url" style="width:24px;height:32px;object-fit:contain;">
                            <a :href="file.url" style="margin-left:1rem;">{{ file.name }}</a>
                        </div>
                        <div>
                            <el-button @click="removeResourceFile(props.row, file)">
                                <i class="el-icon-delete"></i>
                            </el-button>
                        </div>
                    </div>
                </template>
            </el-table-column>
            <el-table-column prop="name" label="Name"></el-table-column>
            <el-table-column prop="category" label="Category"></el-table-column>
            <el-table-column prop="path" label="Path"></el-table-column>
            <el-table-column align="right">
                <template slot-scope="props">
                    <el-button @click="removeResource(props.row)">
                        <i class="el-icon-delete"></i>
                    </el-button>
                    <el-button @click="handleUploadResource(props.row)">
                        <i class="el-icon-upload"></i>
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-dialog :title="createDialog.title" :visible.sync="createDialog.show">
            <el-form ref="form" :loading="createDialog.loading" label-width="100px" style="width:100%;display:flex;flex-direction:column;align-items:center;">
                <el-form-item label="Name" style="width:100%">
                    <el-row>
                        <el-col :span="18">
                            <el-input v-model="createDialog.name" spellcheck="false" @input="checkResourceName()"></el-input>
                        </el-col>
                        <el-col :span="5" style="margin-left:1rem;">
                            <i :class="'el-icon-' + resourceStatusIcon" :type="resourceStatusType"></i>
                            <span>{{ createDialog.resourceStatus }}</span>
                        </el-col>
                    </el-row>
                </el-form-item>
                <el-form-item label="Category" style="width:100%">
                    <el-select v-model="createDialog.selectedCategory" placeholder="Select a category" style="width:100%" :disabled="createDialog.resourceStatus == 'Existing'">
                        <el-option
                            v-for="item in createDialog.categories"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="Path" style="width:100%">
                    <el-input v-model="createDialog.path" spellcheck="false" :readonly="true"></el-input>
                </el-form-item>
                <el-form-item label="Files" style="width:100%">
                    <el-upload
                        class="upload-demo"
                        drag
                        accept="*"
                        ref="dropzone"
                        :auto-upload="false"
                        :on-preview="handleCreateDialogPreview"
                        :on-remove="handleCreateDialogRemove"
                        :on-change="handleCreateDialogChange"
                        :file-list="createDialog.fileList"
                        style="margin-top:1rem;"
                        multiple>
                        <i class="el-icon-upload"></i>
                        <div class="el-upload__text">Drop files here or <em>click to upload</em></div>
                        <div class="el-upload__tip" slot="tip">any files with a size less than 80MB</div>
                    </el-upload>
                </el-form-item>
            </el-form>
            <el-alert
                v-show="createDialog.errorMessage"
                :title="createDialog.errorMessage"
                show-icon
                type="error" :closable="false"
                style="margin-top:1rem;"
                >
            </el-alert>
            <span slot="footer" class="dialog-footer">
                <el-button @click="createDialog.show = false">Cancel</el-button>
                <el-button type="primary" @click="handleCreateDialogConfirm()">
                    Confirm
                </el-button>
            </span>
        </el-dialog>
        <el-dialog title="Are you sure?" :visible.sync="confirmDialog.show" @close="confirmDialog.events.emit('confirm', false)">
            <p>{{ confirmDialog.message }}</p>
            <span slot="footer" class="dialog-footer">
                <el-button @click="confirmDialog.show = false">Cancel</el-button>
                <el-button type="primary" @click="confirmDialog.events.emit('confirm', true)">
                    Confirm
                </el-button>
            </span>
        </el-dialog>
    </div>
</template>

<style>
i[type="success"] {
    color: #67c23a;
}
i[type="warning"] {
    color: #e6a23c;
}
.resource-file {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.resource-file + .resource-file {
    border-top: 1px solid #eee;
}
</style>

<script>
import axios from 'axios';
import {
    EventEmitter,
    MultiPromise
} from '../core/eventSystem';

export default {
    mounted() {
        this.loadTableData();
        this.$watch(
            () => this.createDialog.name,
            (value, prevValue) => {
                this.createDialog.path = '/resources/' + this.createDialog.name;
            },
            {
                immediate: true
            }
        );
        this.confirmDialog.events.register('confirm');
        this.confirmDialog.events.on('confirm', () => {
            this.confirmDialog.show = false;
        });
    },
    data() {
        return {
            resourceTable: {
                loading: false,
                searchString: '',
                data: []
            },
            createDialog: {
                show: false,
                loading: false,
                title: 'Resource upload',
                errorMessage: 'Example error',
                selectedCategory: '',
                categories: [
                    {
                        label: 'Font (ttf, otf, woff, woff2, ...)',
                        value: 'font'
                    },
                    {
                        label: 'Image (png, jpeg, jpg, svg, ...)',
                        value: 'image'
                    },
                    {
                        label: 'Complex (multiple types)',
                        value: 'complex'
                    },
                    {
                        label: 'Other',
                        value: 'other'
                    },
                ],
                name: '',
                path: '',
                fileList: [],
                resourceStatus: 'Unknown',
                resourceCheckingVersion: 0,
                resourceData: {}
            },
            confirmDialog: {
                show: false,
                loading: false,
                title: 'Are you sure?',
                message: '',
                errorMessage: '',
                events: new EventEmitter,
            },
            loading: false
        };
    },
    methods: {
        loadTableData(callback) {
            this.resourceTable.loading = true;
            axios.get("/design-upload-v2/api/resources").then(
                (response) => {
                    this.resourceTable.data = response.data.data.map(v => ({
                        ...v,
                        files: []
                    }));
                    this.resourceTable.loading = false;
                    callback && callback();
                }
            );
        },
        showCreateDialog() {
            this.createDialog.selectedCategory = '';
            this.createDialog.name = '';
            this.createDialog.errorMessage = '';
            this.createDialog.resourceStatus = 'Unknown';
            this.createDialog.show = true;
            this.$nextTick(() => {
                this.createDialog.fileList = [];
                this.$refs.dropzone.clearFiles();
            });
        },
        handleCreateDialogPreview() {},
        handleCreateDialogChange(file) {
            this.createDialog.fileList.push(file);
        },
        handleCreateDialogRemove(file) {
            const fileIdx = this.createDialog.fileList.indexOf(file);
            if(fileIdx == -1) return;
            this.createDialog.fileList.splice(fileIdx, 1);
        },
        handleCreateDialogConfirm() {
            if(!['Existing', 'New'].includes(this.createDialog.resourceStatus)) return;
            this.createDialog.loading = true;
            const uploadFiles = (callback) => {
                const multiPromise = new MultiPromise;
                let nrFails = 0;
                if(this.createDialog.fileList.length == 0) {
                    this.createDialog.loading = false;
                    if(!nrFails) this.createDialog.show = false;
                    this.loadTableData();
                }
                for(const [fileIdx, file] of this.createDialog.fileList.entries()) {
                    multiPromise.register(fileIdx);
                }
                multiPromise.start()
                .then(() => {
                    this.createDialog.loading = false;
                    if(!nrFails) this.createDialog.show = false;
                    callback && callback();
                });
                for(const [fileIdx, file] of this.createDialog.fileList.entries()) {
                    const formData = new FormData();
                    formData.append('file', file.raw);
                    formData.append('name', this.createDialog.name);
                    axios.post('/design-upload-v2/api/resource_upload', formData)
                    .then(response => {
                        multiPromise.fulfill(fileIdx);
                    })
                    .catch(err => {
                        nrFails += 1;
                        this.createDialog.errorMessage = 'Fail: ' + nrFails;
                        multiPromise.fulfill(fileIdx);
                        console.error(err);
                    })
                }
            };
            if(this.createDialog.resourceStatus == 'New') {
                axios.post('/design-upload-v2/api/resources', {
                    name: this.createDialog.name,
                    category: this.createDialog.selectedCategory
                })
                .then(response => {
                    uploadFiles(() => {
                        this.loadTableData();
                    });
                })
                .catch(err => {
                    this.createDialog.loading = false;
                    this.createDialog.errorMessage = err.message;
                })
            }
            else {
                uploadFiles(() => {
                    this.loadResourceFiles(this.resourceTable.data.filter(resource => resource._id == this.createDialog.resourceData._id)[0]);
                });
            }
        },
        checkResourceName() {
            this.createDialog.resourceCheckingVersion++;
            const currentVersion = this.createDialog.resourceCheckingVersion;
            if(!this.createDialog.name) {
                this.createDialog.resourceStatus = 'Unknown';
                return;
            }
            this.createDialog.resourceStatus = 'Checking';
            setTimeout(() => {
                if(currentVersion != this.createDialog.resourceCheckingVersion) return;
                axios.post('/design-upload-v2/api/check_resource', {
                    name: this.createDialog.name
                })
                .then(response => {
                    if(currentVersion != this.createDialog.resourceCheckingVersion) return;
                    if(response.data.data.length) {
                        this.createDialog.resourceData = response.data.data[0];
                        this.createDialog.resourceStatus = 'Existing';
                        this.createDialog.selectedCategory = response.data.data[0].category;
                    }
                    else {
                        this.createDialog.resourceData = {};
                        this.createDialog.resourceStatus = 'New';
                    }
                })
                .catch(err => {
                    this.createDialog.errorMessage = err.message;
                });
            }, 500);
        },
        getFileIcon(ext) {
            const iconMap = {
                'word': 'file-word',
                'avi': 'file-video',
                'mp4': 'file-video',
                'mp3': 'file-audio',
                'wav': 'file-audio',
                'ppt': 'file-powerpoint',
                'pptx': 'file-powerpoint',
                'pptm': 'file-powerpoint',
                'xlsx': 'file-excel',
                'xlsm': 'file-excel',
                'xlsb': 'file-excel',
                'xltx': 'file-excel',
                'pdf': 'file-pdf',
                'bmp': 'file-image',
                'png': 'file-image',
                'jpg': 'file-image',
                'jpeg': 'file-image',
                'svg': 'file-image',
                'json': 'file-code',
                'csv': 'file-csv'
            };
            return iconMap[ext] ?? 'file';
        },
        loadResourceFiles(resource) {
            this.resourceTable.loading = true;
            axios.get(`/design-upload-v2/api/resources/${resource._id}/files`)
            .then(response => {
                this.resourceTable.loading = false;
                resource.files = response.data.data.map(file => {
                    const splitted = file.split('.');
                    return {
                        name: file,
                        ext: splitted.length > 1 ? splitted.slice(-1) : '',
                        url: `/design-upload-v2/resources/${resource.name}/${file}`
                    };
                });
            })
            .catch(err => {
                this.resourceTable.loading = false;
                console.error(err);
            });
        },
        removeResourceFile(resource, file) {
            this.confirmDialog.show = true;
            this.confirmDialog.events.one('confirm', confirmed => {
                if(!confirmed) return;
                axios.post(`/design-upload-v2/api/resources/${resource._id}/remove_file`, {
                    fileName: file.name
                })
                .then(response => {
                    this.loadResourceFiles(resource);
                })
                .catch(err => {
                    console.error(err);
                });
            });
        },
        loadExpanded(...args) {
            const expandedRows = args[1];
            for(const row of expandedRows) {
                if(!row.files.length) {
                    this.loadResourceFiles(row);
                }
            }
        },
        handleUploadResource(resource) {
            this.showCreateDialog();
            this.createDialog.name = resource.name;
            this.checkResourceName();
        },
        removeResource(resource) {
            this.confirmDialog.show = true;
            this.confirmDialog.events.one('confirm', confirmed => {
                if(!confirmed) return;
                axios.delete(`/design-upload-v2/api/resources/${resource._id}`)
                .then(response => {
                    this.confirmDialog.show = false;
                    this.loadTableData();
                })
                .catch(err => {
                    this.confirmDialog.show = false;
                    console.error(err);
                });
            });
        }
    },
    computed: {
        filteredTableData() {
            return this.resourceTable.data.filter(row => {
                return row.name.includes(this.resourceTable.searchString) || row.category.includes(this.resourceTable.searchString);
            });
        },
        resourceStatusType() {
            const typeMap = {
                'Unknown': 'info',
                'Existing': 'warning',
                'New': 'success'
            };
            return typeMap[this.createDialog.resourceStatus] ?? 'info';
        },
        resourceStatusIcon() {
            const typeMap = {
                'Unknown': 'question',
                'Existing': 'warning',
                'New': 'success'
            };
            return typeMap[this.createDialog.resourceStatus] ?? 'info';
        }
    },
};
</script>
