<template>
    <div v-loading="loading">
        <div style="display:flex;justify-content:flex-end;margin-bottom:1rem;">
            <el-button style="margin-left:1rem;" @click="loadStoreTable()">
                <i class="el-icon-refresh"></i>
            </el-button>
            <el-button style="margin-left:1rem;" @click="showCreateDialog()">
                <i class="el-icon-plus"></i>
            </el-button>
        </div>
        <el-input
            placeholder="Search for stores"
            v-model="storeTable.searchString"
            spellcheck="false"
            clearable
        ></el-input>
        <el-table
            v-loading="storeTable.loading"
            :data="filteredTableData"
            empty-text="No stores available."
            style="margin-top:1rem;width:100%"
            default-expand-all
        >
            <el-table-column type="expand">
                <template slot-scope="props">
                    <el-button @click="checkConnection(props.row)" style="margin-top:1rem;margin-right:1rem;">Check connection</el-button>
                    <el-badge :value="getConnectionStatus(props.row).status" :type="getConnectionStatus(props.row).type">
                    </el-badge>
                    <el-input
                        placeholder="Search for products"
                        v-model="props.row.searchString"
                        @input="searchProducts(props.row)"
                        spellcheck="false"
                        style="margin-top:1rem;"
                        clearable>
                    </el-input>
                    <div style="margin-top:1rem;border:1px solid #eee;border-radius:.25rem;">
                        <el-table
                            v-loading="props.row.searching"
                            :data="props.row.searchResults"
                            empty-text="No products available."
                            style="margin-top:1rem;width:100%"
                        >
                            <el-table-column width="100">
                                <template slot-scope="subprops">
                                    <img :src="subprops.row.image" style="width:50px;object-fit:contain;">
                                </template>
                            </el-table-column>
                            <el-table-column label="Title">
                                <template slot-scope="subprops">
                                    <a :href="'https://' + props.row.storeURL + subprops.row.url" target="_blank">{{ subprops.row.title }}</a>
                                </template>
                            </el-table-column>
                            <el-table-column label="Iframe URL" align="right">
                                <template slot-scope="subprops">
                                    <span>{{ subprops.row.iframeURL }}</span>
                                </template>
                            </el-table-column>
                            <el-table-column label="Link status" align="right" width="120">
                                <template slot-scope="subprops">
                                    <el-badge :value="subprops.row.linkStatus" :type="subprops.row.linkStatusType">
                                    </el-badge>
                                </template>
                            </el-table-column>
                            <el-table-column align="right" width="350">
                                <template slot-scope="subprops">
                                    <el-button :disabled="subprops.row.autolinking" @click="checkIframeURL(props.row, subprops.row)">Check iframe URL</el-button>
                                    <el-dropdown split-button :loading="subprops.row.autolinking" @click="autolink(props.row, subprops.row)" 
                                        @command="handleLinkCommand">
                                        Autolink
                                        <el-dropdown-menu slot="dropdown">
                                            <el-dropdown-item :command="{store: props.row, product: subprops.row}">Edit iframe URL</el-dropdown-item>
                                        </el-dropdown-menu>
                                    </el-dropdown>
                                </template>
                            </el-table-column>
                        </el-table>
                        <div v-for="(result, idx) in props.row.searchResults" :key="idx" class="search-result">
                            
                        </div>
                    </div>
                </template>
            </el-table-column>
            <el-table-column prop="name" label="Store Name"></el-table-column>
            <el-table-column prop="accessKey" label="Access Key"></el-table-column>
            <el-table-column prop="shopifyName" label="Shopify Name"></el-table-column>
            <el-table-column prop="storeURL" label="Store URL"></el-table-column>
            <el-table-column width="80">
                <template slot-scope="props">
                    <el-button @click="removeStore(props.row._id)">
                        <i class="el-icon-delete"></i>
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-dialog title="Add store" :visible.sync="createDialog.show">
            <el-select v-model="createDialog.selectedPlatform" placeholder="Select a platform" style="width:100%">
                <el-option
                    v-for="item in createDialog.platformOptions"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                </el-option>
            </el-select>
            <el-form ref="form" label-width="120px" style="width:100%;margin-top:1rem;display:flex;flex-direction:column;align-items:center;"
                v-loading="createDialog.loading">
                <el-form-item label="Name" style="width:100%">
                    <el-input v-model="createDialog.form.name" spellcheck="false"></el-input>
                </el-form-item>
                <el-form-item label="Access key" style="width:100%">
                    <el-input v-model="createDialog.form.accessKey" spellcheck="false"></el-input>
                </el-form-item>
                <el-form-item label="Shopify name" style="width:100%">
                    <el-input v-model="createDialog.form.shopifyName" spellcheck="false"></el-input>
                </el-form-item>
                <el-form-item label="Store URL" style="width:100%">
                    <el-input v-model="createDialog.form.storeURL" spellcheck="false"></el-input>
                </el-form-item>
            </el-form>
            <el-alert
                v-show="createDialog.errorMessage"
                :title="createDialog.errorMessage"
                show-icon
                type="error" :closable="false">
            </el-alert>
            <span slot="footer" class="dialog-footer">
                <el-button @click="createDialog.show = false">Cancel</el-button>
                <el-button type="primary" @click="handleCreateDialogConfirm()">
                    Confirm
                </el-button>
            </span>
        </el-dialog>
        <el-dialog :title="confirmDialog.title" :visible.sync="confirmDialog.show" @close="confirmDialog.events.emit('confirm', false)">
            <span v-show="confirmDialog.message" v-html="confirmDialog.message"></span>
            <el-alert
                v-show="confirmDialog.errorMessage"
                :title="confirmDialog.errorMessage"
                show-icon
                type="error" :closable="false">
            </el-alert>
            <span slot="footer" class="dialog-footer">
                <el-button @click="confirmDialog.show = false">Cancel</el-button>
                <el-button type="primary" @click="confirmDialog.events.emit('confirm', true)">
                    Confirm
                </el-button>
            </span>
        </el-dialog>
        <el-dialog :title="manualLinkDialog.title" :visible.sync="manualLinkDialog.show" @close="manualLinkDialog.events.emit('confirm', false)">
            <el-input
                v-model="manualLinkDialog.iframeURL"
                placeholder="Iframe URL"
                spellcheck="false"
                ></el-input>
            <el-alert
                v-show="manualLinkDialog.errorMessage"
                :title="manualLinkDialog.errorMessage"
                show-icon
                type="error" :closable="false">
            </el-alert>
            <span slot="footer" class="dialog-footer">
                <el-button @click="manualLinkDialog.show = false">Cancel</el-button>
                <el-button type="primary" @click="manualLinkDialog.events.emit('confirm', true)" :disabled="manualLinkDialog.running">
                    Confirm
                </el-button>
            </span>
        </el-dialog>
    </div>
</template>

<style>
</style>

<script>
import axios from 'axios';
import {
    EventEmitter,
    MultiPromise
} from '../core/eventSystem';

export default {
    mounted() {
        this.confirmDialog.events.register('confirm');
        this.manualLinkDialog.events.register('confirm');
        this.loadStoreTable(() => {
            for(const store of this.storeTable.data) {
                this.checkConnection(store);
            }
        });
    },
    data() {
        return {
            storeTable: {
                loading: false,
                searchString: '',
                data: [],
            },
            createDialog: {
                show: false,
                loading: false,
                errorMessage: '',
                platformOptions: [
                    {
                        label: 'Shopify',
                        value: 'shopify'
                    }
                ],
                selectedPlatform: 'shopify',
                form: {
                    name: '',
                    accessKey: '',
                    shopifyName: '',
                    storeURL: '',
                }
            },
            confirmDialog: {
                show: false,
                title: 'Are you sure?',
                message: '',
                errorMessage: '',
                events: new EventEmitter,
                running: false,
            },
            manualLinkDialog: {
                show: false,
                title: 'Edit iframe URL',
                iframeURL: '',
                errorMessage: '',
                events: new EventEmitter,
                editingStore: null,
                editingProduct: null,
            },
            loading: false
        };
    },
    methods: {
        loadStoreTable(callback) {
            this.storeTable.loading = true;
            axios.get("/design-upload-v2/api/shopify_stores").then(
                (response) => {
                    Vue.set(this.storeTable, 'data', response.data.data.map(store => {
                        return {
                            ...store,
                            connectionStatus: 'Not connected',
                            searchString: '',
                            searchVersion: '',
                            searchResults: [],
                            searching: false,
                        }
                    }));
                    this.storeTable.loading = false;
                    callback && callback();
                }
            );
        },
        showCreateDialog() {
            this.createDialog.show = true;
            this.createDialog.loading = false;
        },
        handleCreateDialogConfirm() {
            this.createDialog.loading = true;
            axios.post('/design-upload-v2/api/shopify_stores', this.createDialog.form)
            .then(response => {
                this.createDialog.loading = false;
                this.createDialog.show = false;
                this.createDialog.errorMessage = '';
                this.loadStoreTable();
            })
            .catch(err => {
                this.createDialog.loading = false;
                this.createDialog.errorMessage = err.message + '. Message: ' + err.response.data.message;
                console.log(err.response.data.message);
            });
        },
        removeStore(storeID) {
            this.confirmDialog.message = 'Store will be removed permanently!';
            this.confirmDialog.show = true;
            this.confirmDialog.events.one('confirm', confirmed => {
                this.confirmDialog.show = false;
                if(!confirmed) return;
                this.storeTable.loading = true;
                axios.delete(`/design-upload-v2/api/shopify_stores/${storeID}`)
                .then(response => {
                    this.storeTable.loading = false;
                    this.loadStoreTable();
                })
                .catch(err => {
                    this.storeTable.loading = false;
                    console.log(err.response.data.message);
                });
            });
        },
        clearCreateDialogForm() {
            this.createDialog.form.name = '';
            this.createDialog.form.accessKey = '';
            this.createDialog.form.shopifyName = '';
            this.createDialog.form.storeURL = '';
        },
        getConnectionStatus(store) {
            const status = store.connectionStatus ?? 'Not connected';
            const dispatchType = (status) => {
                const typeMap = {
                    'Not connected': 'warning',
                    'Error': 'danger',
                    'Checking': 'info',
                    'Connected': 'success'
                };
                return typeMap[status] ?? 'info';
            };
            return {
                status,
                type: dispatchType(status)
            };
        },
        checkConnection(store) {
            store.connectionStatus = 'Checking';
            const storeID = store._id;
            axios.post('/design-upload-v2/api/check_store_connection', {
                storeID
            })
            .then(response => {
                store.connectionStatus = response.data.message;
            })
            .catch(err => {
                store.connectionStatus = 'Error';
            });
        },
        searchProducts(store) {
            const storeID = store._id;
            const searchString = store.searchString;
            if(store.searchVersion == undefined) {
                Vue.set(store, 'searchVersion', 0);
            }
            store.searchVersion++;
            if(!searchString) {
                store.searching = false;
                store.searchResults = [];
                return;
            }
            const searchVersion = store.searchVersion;
            store.searching = true;
            setTimeout(() => {
                if(searchVersion != store.searchVersion) return;
                axios.post('/design-upload-v2/api/store_search', {
                    storeID,
                    searchString
                })
                .then(response => {
                    const products = response.data.resources.results.products;
                    if(searchVersion == store.searchVersion) {
                        store.searching = false;
                        Vue.set(store, 'searchResults', products.map(product => {
                            const productData = {
                                ...product,
                                iframeURL: '',
                                autolinking: false,
                                linkStatus: 'Unknown',
                                get linkStatusType() {
                                    const status = this.linkStatus;
                                    const typeMap = {
                                        'Unknown': 'info',
                                        'Error': 'danger',
                                        'Success': 'success',
                                        'Linked': 'primary',
                                        'Not linked': 'warning',
                                        'Unchanged': 'primary'
                                    };
                                    return typeMap[status] ?? 'info';
                                }
                            };
                            setTimeout(() => {
                                if(searchVersion != store.searchVersion) return;
                                this.checkIframeURL(storeID, productData);
                            }, 1000);
                            return productData;
                        }));
                    }
                })
                .catch(err => {
                    store.searching = false;
                    console.error(err);
                });
            }, 500);
        },
        autolink(storeID, shopifyProduct) {
            shopifyProduct.autolinking = true;
            this.checkIframeURL(storeID, shopifyProduct, () => {
                if(shopifyProduct.iframeURL) {
                    shopifyProduct.autolinking = false;
                    shopifyProduct.linkStatus = 'Unchanged';
                    return;
                };
                const linkStatusBackup = shopifyProduct.linkStatus;
                shopifyProduct.linkStatus = 'Linking...'
                axios.post('/design-upload-v2/api/products/search', {
                    sku: shopifyProduct.handle
                })
                .then(response => {
                    const bestMatchSKU = response.data.data.bestMatch.sku;
                    const setIframeURL = () => {
                        const iframeURL = 'https://d1vyizgcxsj7up.cloudfront.net/customize/index.html?product=' + response.data.data.bestMatch.sku;
                        axios.post('/design-upload-v2/api/set_metafields', {
                            storeID,
                            product: shopifyProduct,
                            metafields: {
                                iframe_url: iframeURL
                            }
                        })
                        .then(response => {
                            shopifyProduct.autolinking = false;
                            shopifyProduct.iframeURL = iframeURL;
                            shopifyProduct.linkStatus = 'Success';
                        })
                        .catch(err => {
                            shopifyProduct.autolinking = false;
                            shopifyProduct.linkStatus = 'Error';
                        });
                    };
                    if(bestMatchSKU != shopifyProduct.handle) {
                        this.confirmDialog.show = true;
                        this.confirmDialog.message = `SKU '${shopifyProduct.handle}' was not found!<br>Best match is: '${bestMatchSKU}'.<br>Do you want to link it instead?`;
                        this.confirmDialog.events.one('confirm', confirmed => {
                            this.confirmDialog.show = false;
                            this.confirmDialog.message = '';
                            shopifyProduct.autolinking = false;
                            if(!confirmed) {
                                shopifyProduct.linkStatus = linkStatusBackup;
                                return;
                            };
                            setIframeURL();
                        });
                    }
                    else {
                        setIframeURL();
                    }
                })
                .catch(err => {
                    shopifyProduct.autolinking = false;
                    shopifyProduct.linkStatus = 'Error';
                });
            });
        },
        checkIframeURL(storeID, shopifyProduct, callback) {
            shopifyProduct.iframeURL = 'Checking...';
            axios.post('/design-upload-v2/api/get_metafields', {
                storeID,
                product: shopifyProduct
            })
            .then(response => {
                const iframeURLMetafields = response.data.metafields.filter(metafield => {
                    return metafield.key == 'iframe_url';
                });
                if(!iframeURLMetafields.length) {
                    shopifyProduct.linkStatus = 'Not linked';
                    shopifyProduct.iframeURL = '';
                    callback && callback();
                    return;
                }
                shopifyProduct.linkStatus = 'Linked';
                shopifyProduct.iframeURL = iframeURLMetafields[0].value;
                callback && callback();
            })
            .catch(err => {
                console.error(err);
                callback && callback();
            });
        },
        showManualLinkDialog(store, shopifyProduct) {
            this.checkIframeURL(store._id, shopifyProduct, () => {
                this.manualLinkDialog.editingStore = store;
                this.manualLinkDialog.editingProduct = shopifyProduct;
                this.manualLinkDialog.iframeURL = shopifyProduct.iframeURL;
                this.manualLinkDialog.show = true;
                this.manualLinkDialog.events.one('confirm', confirmed => {
                    if(!confirmed) {
                        this.manualLinkDialog.show = false;
                        return;
                    }
                    this.manualLinkDialog.running = true;
                    axios.post('/design-upload-v2/api/set_metafields', {
                        storeID: store._id,
                        product: shopifyProduct,
                        metafields: {
                            iframe_url: this.manualLinkDialog.iframeURL
                        }
                    })
                    .then(response => {
                        this.checkIframeURL(store._id, shopifyProduct);
                        this.manualLinkDialog.running = false;
                        this.manualLinkDialog.show = false;
                    })
                    .catch(err => {
                        this.manualLinkDialog.running = false;
                        this.manualLinkDialog.errorMessage = err.message;
                    });
                });
            });
        },
        handleLinkCommand(command) {
            this.showManualLinkDialog(command.store, command.product);
        }
    },
    computed: {
        filteredTableData() {
            return this.storeTable.data.filter(
                (row) =>
                    row.name.includes(this.storeTable.searchString) ||
                    row.shopifyName.includes(this.storeTable.searchString) ||
                    row.storeURL.includes(this.storeTable.searchString)
            );
        }
    },
};
</script>
