<template>
    <el-container style="height: 100vh">
        <el-aside width="250px" style="background-color: rgb(238, 241, 246)">
            <el-menu default-active="1">
                <a href="./">
                    <img src="assets/images/logo.jpg" alt="logo" style="object-fit:contain;width:100%;">
                </a>
                <el-menu-item index="1" @click="activeMenu = 1">
                    <i class="el-icon-menu"></i>
                    <span>Products</span>
                </el-menu-item>
                <el-menu-item index="2" @click="activeMenu = 2">
                    <i class="el-icon-menu"></i>
                    <span>Stores</span>
                </el-menu-item>
                <el-menu-item index="3" @click="activeMenu = 3">
                    <i class="el-icon-menu"></i>
                    <span>Resources</span>
                </el-menu-item>
                <el-menu-item index="4" @click="activeMenu = 4">
                    <i class="el-icon-menu"></i>
                    <span>Utilities</span>
                </el-menu-item>
                <el-menu-item index="5" @click="activeMenu = 5">
                    <i class="el-icon-menu"></i>
                    <span>Reports</span>
                </el-menu-item>
            </el-menu>
        </el-aside>

        <el-container>
            <el-header style="text-align: right; font-size: 12px">
                <el-breadcrumb separator-class="el-icon-arrow-right">
                    <el-breadcrumb-item :to="'javascript:;'">Menu</el-breadcrumb-item>
                    <el-breadcrumb-item>{{ activeMenuName() }}</el-breadcrumb-item>
                </el-breadcrumb>
                <el-dropdown>
                    <span class="el-dropdown-link" style="display:flex;align-items:center;">
                        <el-avatar icon="el-icon-user-solid"></el-avatar>
                    </span>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item>
                            Profile
                        </el-dropdown-item>
                        <el-dropdown-item>
                            Log out
                        </el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            </el-header>
            <el-main style="position:relative">
                <app-products ref="productPage" v-if="activeMenu == 1"></app-products>
                <app-stores ref="storePage" v-if="activeMenu == 2"></app-stores>
                <app-resources ref="resourcePage" v-if="activeMenu == 3"></app-resources>
                <app-utilities ref="utilityPage" v-if="activeMenu == 4"></app-utilities>
                <app-reports ref="reportPage" v-if="activeMenu == 5"></app-reports>
            </el-main>
        </el-container>
    </el-container>
</template>

<style>
body {
    margin: 0;
}
body * {
    font-family: Poppins;
}
a {
    color: #5ab9ca;
}
.logo {
    background-color: white;
    line-height: 60px;
    height: 120px;
    font-size: 1rem;
    text-transform: uppercase;
    color: #333 !important;
    font-weight: bold;
}
.el-breadcrumb__inner a:hover, .el-breadcrumb__inner.is-link {
    color: #40566d;
    cursor: pointer;
}
.el-breadcrumb__inner a:hover, .el-breadcrumb__inner.is-link:hover {
    color: #5a718a;
    cursor: pointer;
}
.el-header {
    background-color: #9ebdbd;
    color: #333;
    line-height: 60px;
    display: flex;
    align-items: center;
    user-select: none;
    justify-content: space-between;
}
.el-avatar {
    background-color: white;
    color: #b3c0d1;
}
.el-menu {
    border: none !important;
}
.el-menu-item {
    user-select: none;
}
.el-breadcrumb__separator {
    color: white;
}
.el-aside {
    color: #333;
    background-color: white !important;
    box-shadow: 1px 1px 5px #ddd;
}
.el-menu-item.is-active {
    color: #df6466;
}
.el-badge__content--primary {
    background-color: #5495d8;
}
</style>

<script>

import AppProducts from './components/Products.vue';
import AppStores from './components/Stores.vue';
import AppResources from './components/Resources.vue';
import AppUtilities from './components/Utilities.vue';
import AppReports from './components/Reports.vue';

export default {
    data: () => ({
        visible: true,
        activeMenu: 1,
        avatarMenuShow: false
    }),
    components: {
        'app-products'  : AppProducts,
        'app-stores'    : AppStores,
        'app-resources' : AppResources,
        'app-utilities' : AppUtilities,
        'app-reports'   : AppReports,
    },
    methods: {
        activeMenuName() {
            const nameMap = {
                1: 'Products',
                2: 'Stores',
                3: 'Resources',
                4: 'Utilities',
                5: 'Reports',
            };
            return nameMap[this.activeMenu] ?? 'Unknown menu';
        },
        toggleAvatarMenu() {
            this.avatarMenuShow = !this.avatarMenuShow;
        }
    }
};
</script>
